**Pandas and numpy**

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import random
import pandas as pd
%matplotlib inline

In [106]:
dataas=pd.DataFrame(np.arange(25).reshape(5,5),columns=["one","Two","Three","Four","five"],index=["a","b","c","d","e"])
dataas

   one  Two  Three  Four  five
a    0    1      2     3     4
b    5    6      7     8     9
c   10   11     12    13    14
d   15   16     17    18    19
e   20   21     22    23    24

In [107]:
dataas[dataas>15]

    one   Two  Three  Four  five
a   NaN   NaN    NaN   NaN   NaN
b   NaN   NaN    NaN   NaN   NaN
c   NaN   NaN    NaN   NaN   NaN
d   NaN  16.0   17.0  18.0  19.0
e  20.0  21.0   22.0  23.0  24.0

In [108]:
sadeceKucuk=dataas[dataas<10]==5
sadeceKucuk

     one    Two  Three   Four   five
a  False  False  False  False  False
b   True  False  False  False  False
c  False  False  False  False  False
d  False  False  False  False  False
e  False  False  False  False  False

In [109]:
dataas

   one  Two  Three  Four  five
a    0    1      2     3     4
b    5    6      7     8     9
c   10   11     12    13    14
d   15   16     17    18    19
e   20   21     22    23    24

In [110]:
newD=dataas[2]=5
newD

5



---



---



---

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline

# plt.style.use('seaborn-whitegrid')
# plt.rc('text', usetex=True)
# plt.rc('font', family='times')
# plt.rc('xtick', labelsize=10)
# plt.rc('ytick', labelsize=10)
# plt.rc('font', size=12)

In [181]:
data = {'yıl':       [2010, 2011, 2012, 2010, 2011, 2012, 2010, 2011, 2012],
        'ogrenci':   ['Ahmet', 'Mehmet', 'can', 'leyla', 'hulya', 'beril', 'Valemda','sevda', 'cem'],
        'puan':      [80, 58, 92, 90, 32, 26, 71, 97, 59],
        'cinsiyet':  ["E", "E", "E" ,"K", "K" , "K" , "K", "K", "E"],
        'yaş':       [20, 18, 22, 14, 12, 15, 19, 21, 17]}


okul = pd.DataFrame(data, columns=['yıl', 'ogrenci', 'puan', 'cinsiyet', 'yaş',"durumu"],index=[1,2,3,4,5,6,7,8,9])
okul

    yıl  ogrenci  puan cinsiyet  yaş durumu
1  2010    Ahmet    80        E   20    NaN
2  2011   Mehmet    58        E   18    NaN
3  2012      can    92        E   22    NaN
4  2010    leyla    90        K   14    NaN
5  2011    hulya    32        K   12    NaN
6  2012    beril    26        K   15    NaN
7  2010  Valemda    71        K   19    NaN
8  2011    sevda    97        K   21    NaN
9  2012      cem    59        E   17    NaN

In [113]:
Buyuk=okul[okul['puan']>60]
Buyuk

    yıl  ogrenci  puan cinsiyet  yaş durumu
1  2010    Ahmet    80        E   20    NaN
3  2012      can    92        E   22    NaN
4  2010    leyla    90        K   14    NaN
7  2010  Valemda    71        K   19    NaN
8  2011    sevda    97        K   21    NaN

In [0]:
# DusukSifir=okul[okul["puan"]<70]=0 
# DusukSifir

In [115]:
okul

    yıl  ogrenci  puan cinsiyet  yaş durumu
1  2010    Ahmet    80        E   20    NaN
2  2011   Mehmet    58        E   18    NaN
3  2012      can    92        E   22    NaN
4  2010    leyla    90        K   14    NaN
5  2011    hulya    32        K   12    NaN
6  2012    beril    26        K   15    NaN
7  2010  Valemda    71        K   19    NaN
8  2011    sevda    97        K   21    NaN
9  2012      cem    59        E   17    NaN

In [116]:
okul.iloc[1]

yıl           2011
ogrenci     Mehmet
puan            58
cinsiyet         E
yaş             18
durumu         NaN
Name: 2, dtype: object

In [117]:
okul.describe()

               yıl       puan        yaş
count     9.000000   9.000000   9.000000
mean   2011.000000  67.222222  17.555556
std       0.866025  25.713701   3.358240
min    2010.000000  26.000000  12.000000
25%    2010.000000  58.000000  15.000000
50%    2011.000000  71.000000  18.000000
75%    2012.000000  90.000000  20.000000
max    2012.000000  97.000000  22.000000

In [118]:
okul.mean()

yıl       2011.000000
puan        67.222222
yaş         17.555556
durumu            NaN
dtype: float64

In [119]:
okul.iloc[3:9]

    yıl  ogrenci  puan cinsiyet  yaş durumu
4  2010    leyla    90        K   14    NaN
5  2011    hulya    32        K   12    NaN
6  2012    beril    26        K   15    NaN
7  2010  Valemda    71        K   19    NaN
8  2011    sevda    97        K   21    NaN
9  2012      cem    59        E   17    NaN

In [120]:
okul.iloc[[1,3]]

    yıl ogrenci  puan cinsiyet  yaş durumu
2  2011  Mehmet    58        E   18    NaN
4  2010   leyla    90        K   14    NaN

In [154]:
okulG=okul["Geçti"]=okul.puan>50
okulG
okul

    yıl  ogrenci  puan cinsiyet  yaş durumu  Geçti
1  2010    Ahmet    80        E   20    NaN   True
2  2011   Mehmet    58        E   18    NaN   True
3  2012      can    92        E   22    NaN   True
4  2010    leyla    90        K   14    NaN   True
5  2011    hulya    32        K   12    NaN  False
6  2012    beril    26        K   15    NaN  False
7  2010  Valemda    71        K   19    NaN   True
8  2011    sevda    97        K   21    NaN   True
9  2012      cem    59        E   17    NaN   True

In [157]:
deger=["iyi","kotu","çokiyi","çokiyi","iyi","kotu","pekiyi","iyi","kotu"]
okul.durumu=deger
okul

    yıl  ogrenci  puan cinsiyet  yaş  durumu  Geçti
1  2010    Ahmet    80        E   20     iyi   True
2  2011   Mehmet    58        E   18    kotu   True
3  2012      can    92        E   22  çokiyi   True
4  2010    leyla    90        K   14  çokiyi   True
5  2011    hulya    32        K   12     iyi  False
6  2012    beril    26        K   15    kotu  False
7  2010  Valemda    71        K   19  pekiyi   True
8  2011    sevda    97        K   21     iyi   True
9  2012      cem    59        E   17    kotu   True

In [166]:
zekaD=["zeki","salak","mal","deha","dahi","aptal","salak","zeki","berbat"]
okul["Zeka Durumu"]=zekaD
okul

    yıl  ogrenci  puan cinsiyet  yaş  durumu  Geçti Zeka Durumu
1  2010    Ahmet    80        E   20     iyi   True        zeki
2  2011   Mehmet    58        E   18    kotu   True       salak
3  2012      can    92        E   22  çokiyi   True         mal
4  2010    leyla    90        K   14  çokiyi   True        deha
5  2011    hulya    32        K   12     iyi  False        dahi
6  2012    beril    26        K   15    kotu  False       aptal
7  2010  Valemda    71        K   19  pekiyi   True       salak
8  2011    sevda    97        K   21     iyi   True        zeki
9  2012      cem    59        E   17    kotu   True      berbat

In [165]:
okulz=okul["Zeka Durumu"]="zeki"
okul

    yıl  ogrenci  puan cinsiyet  yaş  durumu  Geçti Zeka Durumu
1  2010    Ahmet    80        E   20     iyi   True        zeki
2  2011   Mehmet    58        E   18    kotu   True        zeki
3  2012      can    92        E   22  çokiyi   True        zeki
4  2010    leyla    90        K   14  çokiyi   True        zeki
5  2011    hulya    32        K   12     iyi  False        zeki
6  2012    beril    26        K   15    kotu  False        zeki
7  2010  Valemda    71        K   19  pekiyi   True        zeki
8  2011    sevda    97        K   21     iyi   True        zeki
9  2012      cem    59        E   17    kotu   True        zeki

In [168]:
OkulY=[21,22,23,24,25,26,27,28,29]
okulYas=okul["yaş"]=OkulY
okul

    yıl  ogrenci  puan cinsiyet  yaş  durumu  Geçti Zeka Durumu
1  2010    Ahmet    80        E   21     iyi   True        zeki
2  2011   Mehmet    58        E   22    kotu   True       salak
3  2012      can    92        E   23  çokiyi   True         mal
4  2010    leyla    90        K   24  çokiyi   True        deha
5  2011    hulya    32        K   25     iyi  False        dahi
6  2012    beril    26        K   26    kotu  False       aptal
7  2010  Valemda    71        K   27  pekiyi   True       salak
8  2011    sevda    97        K   28     iyi   True        zeki
9  2012      cem    59        E   29    kotu   True      berbat

In [172]:
okul["yaş"]<25

1     True
2     True
3     True
4     True
5    False
6    False
7    False
8    False
9    False
Name: yaş, dtype: bool

In [0]:
# okul.puan.plot(kind="hist")

In [121]:
# Create a dataframe
raw_data = {'first_name': ['Jason', 'Molly', np.nan, np.nan, np.nan], 
        'nationality': ['USA', 'USA', 'France', 'UK', 'UK'], 
        'age': [42, 52, 36, 24, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'nationality', 'age'])
df

  first_name nationality  age
0      Jason         USA   42
1      Molly         USA   52
2        NaN      France   36
3        NaN          UK   24
4        NaN          UK   70

In [0]:
# df.age.plot(kind="hist")

In [122]:
dfUsa=df[df['nationality']=="USA"]
dfUsa

  first_name nationality  age
0      Jason         USA   42
1      Molly         USA   52

In [123]:
dfUk=df[df['nationality']=="UK"]
dfUk

  first_name nationality  age
3        NaN          UK   24
4        NaN          UK   70

In [140]:
dfUkName=dfUk['first_name']=["Cem","Hiyar"]
dfUk

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

  first_name nationality  age
3        Cem          UK   24
4      Hiyar          UK   70